@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, body
{
margin: 0;
padding: 0;
box-sizing: border-box; 

}

html
{
    font-family: 'roboto';
}

.navigation-header
{
    background-color: #1F2937;
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav
{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.logo-container a
{
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.navigation-items a
{   
    color: #e5e7eb;
    padding-right: 20px;
    text-decoration: none;
}

.hero-header
{
    background-color: #1F2937; 
}